{% extends 'abase.axml' %}

{% from 'actions.axml' import pagination %}


{% macro commander() %}
{
    isFilterable: false,
    oldPagination: pagination,

    idSearch: '',
    eventSearch: '',
    deduperSearch: '',
    payloadSearch: '',
    whenFilter: '',

    filterResults(){
        let base = `/v1/actions?pagination=${100}&page=${page}`
        if(this.idSearch) base = `${base}&id=${this.idSearch}`
        if(this.eventSearch) base = `${base}&event=${this.eventSearch}`
        if(this.deduperSearch) base = `${base}&deduper=${this.deduperSearch}`
        if(this.payloadSearch) base = `${base}&payload=${this.payloadSearch}`
        if(this.whenFilter) base = `${base}&timeline=${this.whenFilter}`
        fetch(`${base}`)
        .then(response => response.json())
        .then(data => {
            isFiltering = true;
            actions = data;
        }).catch(err => {
            ShowFeedback('error', 'Filter operation failed...')
        })
    },

    clearFilter(){
        this.idSearch = '';
        this.eventSearch = '';
        this.deduperSearch = '';
        this.payloadSearch = '';
        this.whenFilter = '';
        isFiltering = false;
        fetchAll();
    },

    checkDirty(){
        if(this.idSearch !== '' ||
            this.eventSearch !== '' ||
            this.deduperSearch !== '' ||
            this.payloadSearch !== '' || this.whenFilter !== ''
        ) {
            this.isFilterable = true;
            return true;
        }
        this.isFilterable = false;
        return false;
    }
}
{% endmacro %}


{% block easel %}
<section x-data="{{ controller('actions') }}">
    <div><span class="font-800 pr-3">Filters:</span></div>
    <div class="pb-3" x-data="{{ commander() }}" x-effect="checkDirty">
        <span class="display-inline-block">
            <input type="text" placeholder="a. id" style="width: 5em" x-model="idSearch" />
            <input type="text" placeholder="search by event name..." style="width: 20em" x-model="eventSearch">
            <input type="text" placeholder="filter by deduplication code" x-model="deduperSearch">
            <input style="width: 25em" type="text" placeholder="search in action payload..." x-model="payloadSearch">
            <select x-model="whenFilter">
                <option>Select Day</option>
                <template x-for="[val, txt] in Object.entries({today: 'Today', week: 'This Week', month: 'This Month'})" :key="val">
                    <option :value="val" x-text="txt"></option>
                </template>
            </select>
            <button @click="filterResults" :disabled="! isFilterable">
                <ion-icon name="search" class="font-size-xs"></ion-icon>
                search
            </button>
            <button disabled>&nbsp;</button>
            <button @click.self="clearFilter" :disabled="! isFiltering">
                clear filter
                <ion-icon name="leaf-outline" class="font-size-xs"></ion-icon>
            </button>
        </span>
    </div>

    <div class="easel" x-init="calculateHeight($el, 10); fetchAll()">
        <table class="table is-striped is-fullwidth is-hoverable paginated">
            <thead>
                <th style="width: 5%">Action</th>
                <th style="width: 30%">Event</th>
                <th style="width: 10%">Deduper</th>
                <th>Payload</th>
                <th style="width: 20%">Timestamped</th>
            </thead>
            <tbody x-init="() => { calculateHeight($el, 100); }">
                <template x-for="action in actions" :key="action.action">
                    <tr>
                        <td x-text="action.action" style="width: 5%"></td>
                        <td x-text="action.event" style="width: 30%"></td>
                        <td x-text="action.deduper" style="width: 10%"></td>
                        <td x-text="truncate(JSON.stringify(action.payload, undefined, 2), 100)"></td>
                        <td x-text="action.timestamped" style="width: 20%"></td>
                    </tr>
                </template>
            </tbody>
            <tfoot style="position: sticky; bottom: 0">
                <tr>
                    <th>Action</th>
                    <th>Event</th>
                    <th>Deduper</th>
                    <th>Payload</th>
                    <th>Timestamped</th>
                </tr>
            </tfoot>
        </table>
        {{ pagination() }}
    </div>
</section>
{% endblock %}
