{% extends 'abase.axml' %}

{% from 'actions.axml' import pagination %}


{% macro commander() %}
{
    isFilterable: false,
    oldPagination: pagination,

    idSearch: '',
    eventSearch: '',
    microserviceSearch: '',
    schemataSearch: '',
    whenFilter: '',

    filterResults(){
        let base = `/v1/events?pagination=${100}&page=${page}`
        if(this.idSearch) base = `${base}&id=${this.idSearch}`
        if(this.eventSearch) base = `${base}&event=${this.eventSearch}`
        if(this.microserviceSearch) base = `${base}&microservice=${this.microserviceSearch}`
        if(this.schemataSearch) base = `${base}&schemata=${this.schemataSearch}`
        if(this.whenFilter) base = `${base}&timeline=${this.whenFilter}`
        fetch(`${base}`)
        .then(response => response.json())
        .then(data => {
            isFiltering = true;
            events = data;
        }).catch(err => {
            ShowFeedback('error', 'Filter operation failed...')
        })
    },

    clearFilter(){
        this.idSearch = '';
        this.eventSearch = '';
        this.microserviceSearch = '';
        this.schemataSearch = '';
        this.whenFilter = '';
        isFiltering = false;
        fetchAll();
    },

    checkDirty(){
        if(this.idSearch !== '' ||
            this.eventSearch !== '' ||
            this.microserviceSearch !== '' || this.schemataSearch !== '' || this.whenFilter !== ''
        ) {
            this.isFilterable = true;
            return true;
        }
        this.isFilterable = false;
        return false;
    }
}
{% endmacro %}


{% block easel %}
<section x-data="{{ controller('events') }}">
    <div><span class="font-800 pr-3">Filters:</span></div>
    <div class="pb-3" x-data="{{ commander() }}" x-effect="checkDirty">
        <span class="display-inline-block">
            <input type="text" placeholder="event id" style="width: 5em" x-model="idSearch"/>
            <input type="text" placeholder="event name..." style="width: 14em" x-model="eventSearch" />
            <input type="text" placeholder="microservice..." style="width: 20em" x-model="microserviceSearch">
            <input type="text" placeholder="search in json schema payload..." style="width: 25em" x-model="schemataSearch">
            <select x-model="whenFilter">
                <template x-for="[val, txt] in Object.entries({day: 'Today', week: 'This Week', month: 'This Month'})" :key="val">
                    <option :value="val" x-text="txt" :selected="val === whenFilter"></option>
                </template>
            </select>
            <button @click="filterResults" :disabled="! isFilterable">
                <img src="/public/icons/search.svg" class="svgxs" />
                search
            </button>
            <button disabled>&nbsp;</button>
            <button @click.self="clearFilter" :disabled="! isFiltering">
                clear filter
                <img src="/public/icons/leaf-outline.svg" class="svgxs" />
            </button>
        </span>
    </div>
    <div class="easel" x-init="calculateHeight($el, 10); fetchAll()">
        <table class="table is-striped is-fullwidth is-hoverable paginated">
            <thead>
                <th style="width: 5%">EID</th>
                <th style="width: 22%">Event</th>
                <th style="width: 20%">Microservice</th>
                <th>Schema</th>
                <th>Timestamped</th>
            </thead>
            <tbody x-init="() => { calculateHeight($el, 100); }">
                <template x-for="event in events">
                    <tr>
                        <td x-text="event.id" style="width: 5%"></td>
                        <td x-text="event.event" style="width: 22%"></td>
                        <td x-text="event.microservice" style="width: 20%"></td>
                        <td x-text="JSON.stringify(event.schemata, undefined, 2).slice(0, 50) + '...'"></td>
                        <td x-text="event.timestamped"></td>
                    </tr>
                </template>
            </tbody>
            <tfoot>
                <th>ID</th>
                <th>Event</th>
                <th>Microservice</th>
                <th>Schema</th>
                <th>Timestamped</th>
            </tfoot>
        </table>
    </div>
    {{ pagination() }}
</section>
{% endblock %}
